---
layout: default.hbs

lang: jp
title: sample
keywords: 'sample1, sample2'
description: 'website'

og_url: 'index.html'
og_locale: 'ja_JP'

---
<main class="l-main">
下層ページ
<p>{{ __.section1_text1 }}</p>
</main>