---
layout: default.hbs

title: sample
keywords: 'sample1, sample2'
description: 'website'

og_url: 'index.html'

---
<main class="l-main">
テスト
{{#each config.loop10}}
r10
{{/each}}

<p>{{ __.section1_text1 }}</p>
</main>